.dropdown-toggle {
    border: 1px solid #6c757d;
    width: 150px;
    padding: 3px 10px;
}

.btn-success {
    padding: 3px 10px;
}
.react-datepicker__input-container input[type="text"] {
    text-align: center;
    width: 150px;
    border: 1px solid #6c757d;
    line-height: 28px;
    border-radius: 5px;
}

.car-card {
    position: relative;
}

.selected-card {
    background: #e24a02;
}

.not-available {
    position: absolute;
    left: 50px;
    top: 100px;
    z-index: 999;
    background: white;
    opacity: 0.6;
    color: red;
}

.car-image {
    max-width: 150px;
}

.car-card p {
    margin: 0;
}

.car_type {
    width: 15px;
}

.book_button {
    height: 40px;
    min-width: 100px;
}

.location-icon {
    width: 10px;
}

.card-body {
    padding: 20px 15px;
}

.pagination li.active {
    background: #007bff;
    width: 20px;
}

.pagination li.active a {
    color: white;
}

.pagination li {
    margin: 0 20px;
    text-align: center;
}

.pagination li a {
    text-decoration: none;
}


.up-arrow img {
    transform: rotate(180deg);
}

@media (max-width: 768px){
    .filter {
        justify-content: flex-end;
        flex-direction: column !important;
    }
    .filter-label {
        width: 50%;
    }
    .filter .filter-dropdown {
        margin: 10px 0;
    }
    .search-bar {
        margin-bottom: 10px;
    }
}